<div class="row">
   <div class="col">
      <img class="img-thumbnail" src="{{mohinh.image}}" width="350" height="350">
   </div>
   <div class="col">
      <table class="table table-bordered text-center mt-4">
         <tr>
            <th colspan="2" class="text text-bg-success">Mohinh info</th>
         </tr>
         <tr>
            <th>Name</th>
            <th>{{mohinh.name}}</th>
         </tr>
         <tr>
            <th>Brand</th>
            <th>{{mohinh.brand}}</th>
         </tr>
         <tr>
            <th>Price</th>
            <th>{{mohinh.price}}</th>
         </tr>
         <tr>
            <th>Status</th>
            <th>{{mohinh.status}}</th>
         </tr>
      </table>
   </div>
</div>