<div class="container text-center">
   <div class="card-group">
      <div class="row">
         {{#each robot}}
         <div class="card col-md-3 m-3">
            <a href="/robot/detail/{{_id}}">
               <img class="card-img-top mt-4" src="{{image}}" width="100" height="200">
            </a>
            <div class="card-body">
               <h4 class="card-title text-success">{{name}}</h4>
               <p class="card-text">{{brand}}</p>
               <p class="card-text text-danger">{{price}}</p>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</div>
<div class=" mt-5 bg-dark text-white">
<footer class="main-footer">
	<div class="main-footer--bottom">
		<div class="container">
			<div class="">
				<div class="row">
					
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg">
						<div class="footer-col footer-block">
							<h4 class="footer-title">
								Giới thiệu
							</h4>
							<div class="footer-content">
								
								<p>Funnyland Công ty Cổ phần Những Trẻ Em Vàng 243 Hai Bà Trưng,Hà Nội.</p>
								
								<div class="logo-footer">
									<a href="http://online.gov.vn/Home/WebDetails/6987"><img class="dt-width-auto lazyloaded" height="57" width="150" data-src="//theme.hstatic.net/1000117512/1000772323/14/logo-bct.png?v=561" alt="Bộ Công Thương" src="//theme.hstatic.net/1000117512/1000772323/14/logo-bct.png?v=561"></a>
								</div>
								
								
								<div class="social-list">
									
									<a href="https://www.facebook.com/funnyland.vn/" class="fa fa-facebook"></a>
									
									
									
									
									<a href="https://www.youtube.com/c/FunnyLandVietnamChannel" class="fa fa-youtube"></a>
									
									
								</div>
								
							</div>
						</div>
					</div>
					
					
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg">
						<div class="footer-col footer-link">
							<h4 class="footer-title">
								Chính sách
							</h4>
							<div class="footer-content">
								<ul>
									
									<li class="item">
										<a href="/" title="Tìm kiếm"><p>Tìm kiếm</p></a>
									</li>
									
									<li class="item">
										<a href="/" title="Giới thiệu"><p>Giới thiệu</p></a>
									</li>
									
									<li class="item">
										<a href="/" title="Hỗ trợ khách hàng"><p>Hỗ trợ khách hàng</p></a>
									</li>
									
									<li class="item">
										<a href="/" title="Chính sách mua hàng"><p>Chính sách mua hàng</p></a>
									</li>
									
									<li class="item">
										<a href="/" title="Chính sách thanh toán"><p>Chính sách thanh toán</p></a>
									</li>
									
									<li class="item">
										<a href="/" title="Chính sách giao hàng"><p>Chính sách giao hàng</p></a>
									</li>
									
									<li class="item">
										<a href="/" title="Chính sách đổi trả"><p>Chính sách đổi trả</p></a>
									</li>
										
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg">
						<div class="footer-col footer-block">
							<h4 class="footer-title">
								Thông tin liên hệ
							</h4>
							<div class="footer-content toggle-footer">
								<ul>
									<li><span><p></p></span> <p>145 ngõ 14 Mễ Trì Hạ, Hà Nội</p></li>
									<li><span><p></p></span> <p>0911517929</p></li>
									<li><span><p></p></span> <p>phamdanghai14122002@gmail.com</p></li>
								</ul>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</footer>